torch==2.0.1
torchvision==0.15.2
numpy==1.24.4
torchmetrics==1.5.1
omegaconf==2.1.2
tqdm==4.66.5
pandas==2.0.3
wandb==0.18.5
pytorch-fid==0.3.0
denoising_diffusion_pytorch==2.1.1
opencv-python==4.10.0.84